push constant 40
push constant 42
push constant 45
push constant 47
push constant 50
push constant 52
push constant 55
push constant 57
push constant 60
push constant 62
push constant 65
push constant 67
push constant 70
push constant 72
push constant 75
push constant 77
push constant 80
push constant 82
push constant 85
push constant 87
push constant 90
push constant 92
push constant 95
push constant 97
push constant 100
push constant 102
push constant 105
push constant 107
push constant 110
push constant 112
push constant 115
push constant 117
push constant 120
push constant 122
push constant 125
push constant 127
push constant 130
push constant 132
push constant 135
push constant 137
push constant 140
push constant 142
push constant 145
push constant 147
push constant 150
push constant 152
push constant 155
push constant 157
push constant 160
push constant 162
push constant 165
push constant 167
push constant 170
push constant 172
push constant 175
push constant 177
push constant 180
push constant 182
push constant 185
push constant 187
push constant 190
push constant 192
push constant 195
push constant 197
push constant 200
push constant 202
push constant 205
push constant 207
push constant 210
push constant 212
push constant 215
push constant 217
push constant 220
push constant 222
push constant 225
push constant 227
push constant 230
push constant 232
push constant 235
push constant 237
push constant 240
push constant 242
push constant 245
push constant 247
push constant 250
push constant 252
push constant 255
push constant 257
push constant 260
push constant 262
push constant 265
push constant 267
push constant 270
push constant 272
push constant 275
push constant 277
push constant 280
push constant 282
push constant 285
push constant 287
push constant 290
push constant 292
push constant 295
push constant 297
push constant 300
push constant 302
push constant 305
push constant 307
push constant 310
push constant 312
push constant 315
push constant 317
push constant 320
push constant 322
push constant 325
push constant 327
push constant 330
push constant 332
push constant 335
push constant 337
push constant 340
push constant 342
push constant 345
push constant 347
push constant 350
push constant 352
push constant 355
push constant 357
push constant 360
push constant 362
push constant 365
push constant 367
push constant 370
push constant 372
push constant 375
push constant 377
push constant 380
push constant 382
push constant 385
push constant 387
push constant 390
push constant 392
push constant 395
push constant 397
push constant 400
push constant 402
push constant 405
push constant 407
push constant 410
push constant 412
push constant 415
push constant 417
push constant 420
push constant 422
push constant 425
push constant 427
push constant 430
push constant 432
push constant 435
push constant 437
push constant 440
push constant 442
push constant 445
push constant 447
push constant 450
push constant 452
push constant 455
push constant 457
push constant 460
push constant 462
push constant 465
push constant 467
push constant 470
push constant 472
push constant 475
push constant 477
push constant 480
push constant 482
push constant 485
push constant 487
push constant 490
push constant 492
push constant 495
push constant 497
push constant 500
push constant 502
push constant 505
push constant 507
push constant 510
push constant 512
push constant 515
push constant 517
push constant 520
push constant 522
push constant 525
push constant 527
push constant 530
push constant 532
push constant 535
push constant 537
push constant 540
push constant 542
push constant 545
push constant 547
push constant 550
push constant 552
push constant 555
push constant 557
push constant 560
push constant 562
push constant 565
push constant 567
push constant 570
push constant 572
push constant 575
push constant 577
push constant 580
push constant 582
push constant 585
push constant 587
push constant 590
push constant 592
push constant 595
push constant 597
push constant 600
push constant 602
push constant 605
push constant 607
push constant 610
push constant 612
push constant 615
push constant 617
push constant 620
push constant 622
push constant 625
push constant 627
push constant 630
push constant 632
push constant 635
push constant 637
pop static 0
pop static 1
pop static 2
pop static 3
pop static 4
pop static 5
pop static 6
pop static 7
pop static 8
pop static 9
pop static 10
pop static 11
pop static 12
pop static 13
pop static 14
pop static 15
pop static 16
pop static 17
pop static 18
pop static 19
pop static 20
pop static 21
pop static 22
pop static 23
pop static 24
pop static 25
pop static 26
pop static 27
pop static 28
pop static 29
pop static 30
pop static 31
pop static 32
pop static 33
pop static 34
pop static 35
pop static 36
pop static 37
pop static 38
pop static 39
pop static 40
pop static 41
pop static 42
pop static 43
pop static 44
pop static 45
pop static 46
pop static 47
pop static 48
pop static 49
pop static 50
pop static 51
pop static 52
pop static 53
pop static 54
pop static 55
pop static 56
pop static 57
pop static 58
pop static 59
pop static 60
pop static 61
pop static 62
pop static 63
pop static 64
pop static 65
pop static 66
pop static 67
pop static 68
pop static 69
pop static 70
pop static 71
pop static 72
pop static 73
pop static 74
pop static 75
pop static 76
pop static 77
pop static 78
pop static 79
pop static 80
pop static 81
pop static 82
pop static 83
pop static 84
pop static 85
pop static 86
pop static 87
pop static 88
pop static 89
pop static 90
pop static 91
pop static 92
pop static 93
pop static 94
pop static 95
pop static 96
pop static 97
pop static 98
pop static 99
pop static 100
pop static 101
pop static 102
pop static 103
pop static 104
pop static 105
pop static 106
pop static 107
pop static 108
pop static 109
pop static 110
pop static 111
pop static 112
pop static 113
pop static 114
pop static 115
pop static 116
pop static 117
pop static 118
pop static 119
pop static 120
pop static 121
pop static 122
pop static 123
pop static 124
pop static 125
pop static 126
pop static 127
pop static 128
pop static 129
pop static 130
pop static 131
pop static 132
pop static 133
pop static 134
pop static 135
pop static 136
pop static 137
pop static 138
pop static 139
pop static 140
pop static 141
pop static 142
pop static 143
pop static 144
pop static 145
pop static 146
pop static 147
pop static 148
pop static 149
pop static 150
pop static 151
pop static 152
pop static 153
pop static 154
pop static 155
pop static 156
pop static 157
pop static 158
pop static 159
pop static 160
pop static 161
pop static 162
pop static 163
pop static 164
pop static 165
pop static 166
pop static 167
pop static 168
pop static 169
pop static 170
pop static 171
pop static 172
pop static 173
pop static 174
pop static 175
pop static 176
pop static 177
pop static 178
pop static 179
pop static 180
pop static 181
pop static 182
pop static 183
pop static 184
pop static 185
pop static 186
pop static 187
pop static 188
pop static 189
pop static 190
pop static 191
pop static 192
pop static 193
pop static 194
pop static 195
pop static 196
pop static 197
pop static 198
pop static 199
pop static 200
pop static 201
pop static 202
pop static 203
pop static 204
pop static 205
pop static 206
pop static 207
pop static 208
pop static 209
pop static 210
pop static 211
pop static 212
pop static 213
pop static 214
pop static 215
pop static 216
pop static 217
pop static 218
pop static 219
pop static 220
pop static 221
pop static 222
pop static 223
pop static 224
pop static 225
pop static 226
pop static 227
pop static 228
pop static 229
pop static 230
pop static 231
pop static 232
pop static 233
pop static 234
pop static 235
pop static 236
pop static 237
pop static 238
pop static 239
push constant 250
push constant 250
eq
push constant 250
push constant 250
lt
push constant 250
push constant 250
gt
push constant 250
push constant 250
add
push constant 250
push constant 250
sub
push constant 250
push constant 250
and
push constant 250
push constant 250
or
push constant 250
neg
push constant 250
not
